.sampleContainer{width:100%;display:flex;align-items:center;background-colior:grey;justify-content:space-between;flex-direction:row;flex-wrap:nowrap;backdrop-filter:blur(2px);position:relative;overflow-x:auto;scroll-snap-type:x mandatory;overflow-y:hidden;flex:0 0 auto;bhackground:linear-gradient(to bottom,transparent 0% 30%, #213547 30% 70%,#f3f0e9 )}

.coinBoxTop{
  background: linear-gradient(to right,
    #f3f0e9 0%,
    rgba(243,240,233,0.3) 5%,
    rgba(0, 0, 0, 0.0) 15%,
    rgba(0, 0, 0, 0) 30%,
    rgba(0, 0, 0, 0) 70%,
    rgba(0, 0, 0, 0.0) 85%,
    rgba(243,240,233,0.3)  95%,
    #f3f0e9 100%
  );
}

.coinBox{scroll-snap-align:center;height:90%;margin:10px;background:linear-gradient(to top, #213547 60%, #ccc);filter:sepia(25);backdrop-filter:blur(5px);opacity:0.9;width:200px;flex:0 0 auto;border-radius:20px;
justify-content:space-between;padding:20px;align-items:center;flex-direction:column;display:flex;gap:10px}

@keyframes coinBoxAnim{
0%{background-color:white}
100%{box-shadow: 0px 3px 2px white,0px 4px 10px rgba(0,0,0,0.6);filter:sepia(0);opacity:1;height:320px;width:220px;margin:0px 15px 0px 15px;transform:scale(1))}}

.coinBoxAnimClass{animation:coinBoxAnim 0.5s ease forwards}

.coinLogo{z-index:23;height:80px;width:80px;display:flex;position:relative;overflow:hidden;box-shadow:0px 0px 4px #ccc, 0px 2px 20px rgba(255,255,255, 0.97);border-radius:50%;background-color:#213547}

@keyframes coinLogoMove{
0%{transform:rotate(0deg)}
100%{transform:rotate(720deg)}}

.coinLogoAnimClass{animation:coinLogoMove 2s ease}
.coinPrice{z-index:23;font-size:25px;font-weight:bold}
.coinSymbol{z-index:23;font-size:18px;margin-top:20px;color:rgba(255,255,255,0.8);font-weight:bold}
.coinName{z-index:23;font-size:14px;margin-top:-10px;color:grey;}
.logoImg{position:absolute;height:100%;width:100%}
@keyframes cointitleanim{
0%{display:none}
50%{display:flex}
100%{opacity:0}}
.coinTitleAnim{animation:cointitleanim 3s ease forwards}


